@use "./common/presets/" as *;
@use "./common/mixin/" as *;

.slider__container {
    position: relative;
    margin: auto;
    padding-inline-start: 0;

    display: flex;
    gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    width: 100%;
}

.slide {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    flex-shrink: 0;
    display: inline;
    opacity: 0;
    transition: opacity 500ms;
}

.slide--active {
    display: inline;
    opacity: 1;
}

.slide__img {
    width: 100%;
    object-fit: contain;
}

.controls {
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.controls__item {
    transition: color 500ms;
    filter: drop-shadow(0px 0px 10px var(--color-slider-primary));
    i {
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
        z-index: -2;
    }
    &:hover {
        color: var(--accent-slider);
    }
}
.controls--prev,
.controls--next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    font-size: 1.5em;
}

.controls--prev {
    left: 0;
}
.controls--next {
    right: 0;
}

.controls--pause {
    display: flex;

    font-size: 2rem;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    max-width: 100px;
    margin: auto;
}

.error-ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    max-width: 1200px;
    width: 100%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;

    svg {
        margin: auto;
        width: 128px;
    }
}

.indicators {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    justify-content: center;
    gap: 5px;
}
.indicator {
    height: 15px;
    width: 100%;
    background-color: var(--color-slider-primary);
    opacity: 0.2;
    transition: opacity 500ms;
}
.indicator--active {
    opacity: 0.5;
}

.container {
    position: relative;
}
